@charset "UTF-8";
/* Estilos para o menu */
aside {
  flex-direction: column;
  background-color: hsl(28, 90%, 49%);
  width: 210px;
  min-height: 89vh; /* Altura mínima inicial em relação à viewport */
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
}
aside ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-align: start;
  padding-top: 10px;
}
aside ul li {
  display: block;
  margin-right: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}
aside ul i {
  color: white;
  padding-right: 10px;
}
aside .submenu {
  display: none;
  position: static;
  left: 100%;
  top: 0;
  padding-left: 25px;
}
aside .submenu a:hover {
  color: white;
  display: block;
  background-color: #884103 !important;
}
aside .submenu-item:hover .submenu {
  display: block;
}
aside a:hover {
  color: white;
  background-color: #884103 !important;
}
aside .bi-chevron-right,
aside .bi-chevron-down {
  position: absolute;
  right: 10px; /* Ajuste o valor conforme necessário */
}
aside .submenu-clicked {
  background-color: #884103; /* Cor de fundo clicada */
}