@charset "UTF-8";
h2 {
  padding: 20px;
}

.contatos {
  /* Estilo para o cabeçalho da tabela */
  /* Estilo para linhas pares da tabela */
  /* Estilo para linhas ímpares da tabela */
  width: 100%;
  /* Estilo para linhas pares da tabela */
  /* Remover as setas de incremento e decremento do input number */
}
.contatos .card {
  display: flex;
  color: white;
  flex-direction: column;
  background-color: rgba(19, 18, 18, 0.883);
  border: 1px solid black;
  width: 500px;
  border-radius: 12px;
  padding: 20px;
  margin-left: 20px;
}
.contatos input, .contatos textarea {
  background-color: white;
  color: black;
  font-size: large;
  padding: 5px 10px 5px 10px;
  outline: none;
  border: 1px solid gray;
  border-radius: 12px;
  margin-top: 4px;
  width: 200px;
}
.contatos #file {
  width: 400px;
}
.contatos table {
  width: 50;
  border-collapse: collapse;
}
.contatos th, .contatos td {
  padding: 8px;
  text-align: left;
}
.contatos th {
  background-color: #dad5d1;
  color: black;
}
.contatos i {
  margin-right: 5px;
}
.contatos i:hover {
  cursor: pointer;
}
.contatos .blue {
  color: rgb(6, 120, 235);
}
.contatos .red {
  color: rgb(246, 79, 79);
}
.contatos .green {
  color: rgb(24, 213, 24);
}
.contatos th {
  background-color: #c2c1bd;
}
.contatos input[type=number]::-webkit-inner-spin-button,
.contatos input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contatos input {
  border-radius: 12px;
  background-color: transparent;
  color: white !important;
}
.contatos input::-moz-placeholder {
  color: rgb(71, 69, 69) !important;
}
.contatos input::placeholder {
  color: rgb(71, 69, 69) !important;
}
.contatos .modal-content {
  width: -moz-min-content !important;
  width: min-content !important;
  position: relative;
  margin-left: auto !important;
}
.contatos .nome-lista h3 {
  margin-bottom: 5px;
  text-align: center;
  display: flex;
}
.contatos .nome-lista span {
  position: absolute;
  right: 8px;
  top: 0;
  font-size: 30px;
}
.contatos .nome-lista span:hover {
  cursor: pointer;
  filter: brightness(1.4) !important;
}
.contatos .retorno-lista-green {
  display: flex;
  border: 1px solid rgb(91, 193, 91);
  background-color: rgb(82, 152, 76);
  border-radius: 12px;
  justify-content: center;
  align-self: center;
  padding: 5px 0 5px 0;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-top: 0;
  padding-left: 5px;
  padding-right: 5px;
  width: 400px;
}
.contatos .retorno-lista-green span {
  color: rgb(3, 48, 3);
}
.contatos .retorno-lista-green i {
  padding-right: 10px;
  color: rgb(3, 48, 3);
}
.contatos .retorno-lista-red {
  display: flex;
  border: 1px solid rgb(107, 3, 3);
  background-color: rgb(216, 129, 129);
  border-radius: 12px;
  width: 300px;
  justify-content: center;
  align-self: center;
  padding: 10px 0 10px 0;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-top: 0;
  width: 400px;
}
.contatos .retorno-lista-red span {
  color: rgb(107, 3, 3);
}
.contatos .retorno-lista-red i {
  padding-right: 10px;
  color: rgb(107, 3, 3);
}
.contatos #modalNovaLista .modal-content {
  background-color: #dad5d1;
  color: black;
  border: none;
}
.contatos #modalNovaLista input {
  color: black !important;
}
.contatos .submit {
  background-color: green;
  border: green;
}
.contatos .submit:hover {
  border: green;
  filter: brightness(1.3);
}

.nova-campanha {
  display: flex !important;
  /* Estilos do celular */
  /* Estilos da tela do celular */
  /* Estilos dos botões do celular */
  /* Estilos do botão home */
  /* Estilos do botão de volume */
  /* Estilos do botão de energia */
}
.nova-campanha textarea {
  width: 400px !important;
  height: 140px;
}
.nova-campanha input {
  width: 150px;
}
.nova-campanha select {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 100px;
}
.nova-campanha label {
  margin-left: 5px;
}
.nova-campanha .emojis {
  position: relative;
  width: 500px;
}
.nova-campanha .emoji, .nova-campanha .options-emojis {
  cursor: pointer !important;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
  font-size: larger !important;
}
.nova-campanha .options-emojis span {
  border: 1px solid gray;
  background-color: white;
}
.nova-campanha .whats {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: column;
}
.nova-campanha .whats .header {
  background-color: #128C7E;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}
.nova-campanha .whats .message-area {
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.nova-campanha .whats .message {
  background-color: #DCF8C6;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 70%;
}
.nova-campanha .whats .message.received {
  background-color: #fff;
  color: #000;
  align-self: flex-start;
}
.nova-campanha .whats .message.sent {
  background-color: #DCF8C6;
  color: #000;
  align-self: flex-end;
}
.nova-campanha .whats .message-input {
  display: flex;
  background-color: #fff;
  padding: 10px;
}
.nova-campanha .whats .message-input input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  margin-right: 10px;
}
.nova-campanha .whats .message-input button {
  background-color: #128C7E;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 100%;
  cursor: pointer;
  padding: 10px;
}
.nova-campanha .whats i {
  transform: rotate(45deg) !important;
}
.nova-campanha .whats input {
  color: black !important;
}
.nova-campanha .cellphone {
  width: 250px;
  height: 400px;
  margin-left: 20px;
  background-color: #000;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  border: 1px solid black;
  /* Estilização da barra de rolagem */
}
.nova-campanha .cellphone ::-webkit-scrollbar {
  width: 8px; /* largura da barra de rolagem */
}
.nova-campanha .cellphone ::-webkit-scrollbar-track {
  background: #f1f1f1; /* cor de fundo da barra de rolagem */
}
.nova-campanha .cellphone ::-webkit-scrollbar-thumb {
  background: #b0afaf; /* cor do preenchimento da barra de rolagem */
  border-radius: 10px; /* borda arredondada da barra de rolagem */
}
.nova-campanha .cellphone ::-webkit-scrollbar-thumb:hover {
  background: #555; /* cor do preenchimento da barra de rolagem ao passar o mouse */
}
.nova-campanha .screen {
  width: 100%;
  height: 80%;
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  top: 10%;
  left: 0;
}
.nova-campanha .button {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
}
.nova-campanha .home {
  bottom: 10px;
  left: calc(50% - 10px);
}
.nova-campanha .volume {
  top: 10px;
  left: 10px;
}
.nova-campanha .power {
  top: 10px;
  right: 10px;
}
.nova-campanha .retorno-envio-green {
  display: flex;
  border: 1px solid rgb(91, 193, 91);
  background-color: rgb(82, 152, 76);
  border-radius: 12px;
  justify-content: center;
  align-self: center;
  padding: 5px 0 5px 0;
  margin-bottom: 20px;
  margin-top: 0;
  padding-left: 5px;
  padding-right: 5px;
}
.nova-campanha .retorno-envio-green span {
  color: rgb(3, 48, 3);
}
.nova-campanha .retorno-envio-green i {
  padding-right: 10px;
  color: rgb(3, 48, 3);
}
.nova-campanha .retorno-envio-red {
  display: flex;
  border: 1px solid rgb(107, 3, 3);
  background-color: rgb(216, 129, 129);
  border-radius: 12px;
  width: 300px;
  justify-content: center;
  align-self: center;
  padding: 5px 0 5px 0;
  margin-bottom: 20px;
  margin-top: 0;
}
.nova-campanha .retorno-envio-red span {
  color: rgb(107, 3, 3);
}
.nova-campanha .retorno-envio-red i {
  padding-right: 10px;
  color: rgb(107, 3, 3);
}
.nova-campanha #submit, .nova-campanha #envio-agendado {
  cursor: pointer;
  background-color: #EF780D;
}
.nova-campanha #submit:hover, .nova-campanha #envio-agendado:hover {
  filter: brightness(1.4);
  background-color: #EF780D;
}
.nova-campanha .agendar {
  cursor: pointer;
  background-color: rgba(21, 20, 20, 0.522);
  text-align: center;
  width: 100px;
}
.nova-campanha .agendar:hover {
  filter: brightness(1.4);
}
.nova-campanha #calendario {
  background-color: rgba(21, 20, 20, 0.522);
  border: 1px solid gray;
  border-radius: 12px;
  padding: 15px;
  margin-top: 10px;
}
.nova-campanha #calendario input {
  width: -moz-min-content;
  width: min-content;
}