.index {

    h2 {
        padding: 20px;
    }
    .col {
        padding: 20px;
        max-width: fit-content;
    }

    .componenteIndex {
        width: 700px;
        display: flex;
        color: white;
        flex-direction: column;
        background-color: rgba(19, 18, 18, 0.883);
        border: 1px solid black;
        border-radius: 12px;
        padding: 20px;
        margin-bottom: 10px;
    
    }

    #iniciar {
        background-color: rgba(31, 85, 4, 0.883) !important;
        border: 1px solid rgb(5, 48, 1) !important
    }


}