* {
    margin: 0;
}

@font-face {
    font-family: 'PTsans'; /* Nome que você deseja dar à sua fonte */
    src: url('../fonts/PTSans-Regular.ttf') format('truetype'); 
}

body {
    font-family: 'PTsans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    
    &:hover {
        color:#EF780D;
    }
}




h2 {
    color: #EF780D;
}

button {

    &:hover{
        cursor: pointer;
        background-color: #EF780D;
        border: 1px solid #EF780D;
        color: rgb(253, 253, 253);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
}



button {
    margin-top: 30px;
    background-color: rgba(21, 20, 20, 0.522);
    color: white;
    font-size: large;
    padding: 10px 20px 10px 20px;
    outline: none;
    border: 1px solid gray;
    border-radius: 12px;

}
::placeholder {
    color: #f1eded; /* Cor do placeholder */
}

.input-container {
    position: relative;
}
.input-with-icon {
    padding-left: 40px; /* Espaçamento para o ícone */
}
.input-icon {
    position: absolute;
    left: 10px; /* Posição do ícone */
    top: 58%; /* Alinhamento vertical */
}

/************************ HEADER ************************/
header {
    height: 7vh;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    align-items: center;
}

h1 {
    display: flex;
    margin: 0;
    color: #EF780D;
}

.logo {
    position: absolute;
    left: 40px;
    display: flex;
    align-items: center;

    img {
        padding-right: 10px;
        align-items: center;
    }
}

/* Estilos para o menu */
nav {
    display: flex;
    position: absolute;
    right: 200px;
    justify-content: end;

 ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
        display: inline;
        margin-right: 20px;

        a {
            color: #fff;
            text-decoration: none;
            font-size: 18px;

            &:hover{
                color: #EF780D; /* Cor ao passar o mouse */
            }
        }
        
    }
    }  
}



/************************ MAIN ************************/
.container {
    display: flex;
    height: 89vh;
    .row {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .col {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}

/************************ FOOTER ************************/
/* Estilos para o rodapé */
footer {
    height: 3vh;
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
